* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
}

.timeazul {
    flex: 1;
    background-color: blue;
    display: flex;
}

.timeazulcaracteristicas, .timevermelhocaracteristicas {
    margin-top: 110px;
    margin-bottom: 8px;
}

.personagemnomeposicao {
    margin-left: 10px;
    width: 150px;
    height: 60px;
}

.personagemnomeposicao2 {
    margin-left: 30px;
    width: 190px;
    height: 60px;
}

.personagemnome {
    font-size: 25px;
    text-align: left;
}

.personagenscaracteristicas {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.personagenscaracteristicaespecifica{
    display: flex;
    margin-top: 25px;
    font-size: 16px;
}

.personagenscaracteristicaespecifica2 {
    margin-top: 25px;
    font-size: 26px;
}

.personagemcaracteristicatitulo {
    margin-right: 80px;
}

.timeazulpersonagens {
    margin-top: 80px;
    margin-left: 50px;
}

.timeazulescolherpersonagem, .timevermelhoescolherpersonagem {
    display: flex;
    flex-direction: column;
}

.timeazultitulo, .timevermelhotitulo {
    font-size: 25px;
}

.timeazulinfo, .timevermelhoinfo {
    margin-top: 10px;
    font-size: 16px;
}

.timeazulescolhadepersonagens, .timevermelhoescolhadepersonagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
}

.timeazulpersonagensparaescolher, .timevermelhopersonagensparaescolher {
    height: 100px;
    width: 100px;
    
}

.timeazulpersonagensescolhidos, .timevermelholpersonagensescolhidos {
    margin-top: 60px;
}

.timeazulescolhidostitulo, .timevermelholescolhidostitulo {
    font-size: 25px;
}

.timeazulescolhidos, .timevermelholescolhidos {
    margin-top: 10px;
    display: flex;
}

.timeazulescolhidosposicao, .timevermelhoescolhidosposicao {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    background-color: black;
}

.timeazulescolhidosposicao2, .timevermelhoescolhidosposicao2 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.timevermelho {
    background-color: red;
    flex: 1;
    display: flex;
}

.timevermelhopersonagens {
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 50px;
}

.personagensvermelhocaracteristicas {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 10px;
}

.personagemvermelhonome {
    font-size: 25px;
    margin-left: 20px;
}

.botaolutar {
    width: 80px;
    height: 50px;
    margin-left: -500px;
    border-radius: 5px;
}

  
.caixa-mensagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 9999;
}

.fundo-transparente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.botaofecharresultado {
    background-color: black;
}