* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    background-image: url(./images/fotofilme.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.timeazul {
    flex: 1;
    display: flex;
    background-color: #4169E1;
    opacity: 0.9;
}

.timeazulcaracteristicas, .timevermelhocaracteristicas {
    margin-top: 110px;
    margin-bottom: 8px;
}

.personagemnomeposicao {
    margin-left: 10px;
    width: 150px;
    height: 60px;
}

.personagemnomeposicao2 {
    margin-left: 30px;
    width: 190px;
    height: 60px;
}

.personagemnome {
    font-size: 25px;
    text-align: left;
}

.personagenscaracteristicas {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.personagenscaracteristicaespecifica{
    display: flex;
    margin-top: 25px;
    font-size: 16px;
}

.personagenscaracteristicaespecifica2 {
    margin-top: 25px;
    font-size: 26px;
}

.personagemcaracteristicatitulo {
    margin-right: 80px;
}

.timeazulpersonagens {
    margin-top: 80px;
    margin-left: 50px;
}

.timeazulescolherpersonagem, .timevermelhoescolherpersonagem {
    display: flex;
    flex-direction: column;
}

.timeazultitulo, .timevermelhotitulo {
    font-size: 25px;
}

.timeazulinfo, .timevermelhoinfo {
    margin-top: 10px;
    font-size: 16px;
}

.timeazulescolhadepersonagens, .timevermelhoescolhadepersonagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
}

.timeazulpersonagensparaescolher, .timevermelhopersonagensparaescolher {
    height: 100px;
    width: 100px;
}

.timeazulpersonagensparaescolher:hover {
    border: 3px solid black;
}

.timeazulpersonagensescolhidos, .timevermelholpersonagensescolhidos {
    margin-top: 60px;
}

.timeazulescolhidostitulo, .timevermelholescolhidostitulo {
    font-size: 25px;
}

.timeazulescolhidos, .timevermelholescolhidos {
    margin-top: 10px;
    display: flex;
}

.timeazulescolhidosposicao, .timevermelhoescolhidosposicao {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border: 1px dashed black;
}

.timeazulescolhidosposicao2, .timevermelhoescolhidosposicao2 {
    width: 100px;
    height: 100px;
    border: 1px dashed black;
}

.timevermelho {
    flex: 1;
    display: flex;
    background-color: #B22222;
    opacity: 0.9;
}

.timevermelhopersonagens {
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 50px;
}

.personagensvermelhocaracteristicas {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 10px;
}

.personagemvermelhonome {
    font-size: 25px;
    margin-left: 20px;
}

.botaolutar {
    width: 80px;
    height: 50px;
    margin-left: -500px;
    border-radius: 5px;
}
  
.botaolutar:hover {
    background-color: black;
    color: #ffffff;
}

.caixa-mensagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.fundo-transparente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.mensagem-frase, .mensagem-media-capitao, .mensagem-media-ferro {
    margin: auto;
    margin-bottom: 10px;
}

.mensagem-media-capitao {
    color: #4169E1;
}

.mensagem-media-ferro {
    color: #B22222;
}

.mensagem-botao {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background: black;
    color: #ffffff;
    font-size: 15px;
}

.mensagem-botao:hover {
    width: 203px;
    height: 32px;
}

@media (max-width:1115px) {
    .main {
        flex-direction: column;
    }

    .timeazulcaracteristicas {
        margin-left: 150px;
    }

    .timeazulpersonagens {
        margin-left: 200px;
    }

    .timevermelhopersonagens {
        margin-left: 150px;
    }

    .timevermelhocaracteristicas {
        margin-left: 80px;
    }

    .botaolutar {
        margin-left: -100px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
}

@media (max-width:900px) {
    .main {
        flex-direction: column;
    }

    .timeazulcaracteristicas {
        margin-left: 30px;
    }

    .timeazulpersonagens {
        margin-left: 140px;
    }

    .timevermelhopersonagens {
        margin-left: 30px;
    }

    .timevermelhocaracteristicas {
        margin-left: 30px;
    }

    .botaolutar {
        margin-left: -80px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
}

@media (max-width:725px) {
    .timeazul {
        flex-direction: column;
    }

    .timeazulcaracteristicas {
        margin: auto;
        margin-top: 30px;
    }

    .timeazulpersonagens {
        margin: auto;
        margin-top: 40px;
    }

    .timeazulpersonagensescolhidos {
        margin-bottom: 30px;
    }

    .timevermelho {
        flex-direction: column;
    }

    .timevermelhopersonagens {
        margin: auto;
        margin-top: 30px;
    }

    .timevermelhocaracteristicas {
       margin: auto;
       margin-top: 30px;
    }

    .botaolutar {
        margin-left: 0px;
        margin-top: 30px;
    }
}